.left-container a {
    font-family: 'MonteCarlo', sans-serif;
    font-size: 2em;
}

.left-container a,
.right-container a {
    text-decoration: none;
    color: #F0A500;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-container a {
    font-size: 1em;
}

.right-container a:hover{
    text-decoration: underline;
}

nav {
    padding: 5px 80px 5px 20px;
    display: flex;
    justify-content: space-between;
}